/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 17, 2023, 3:34:21 AM
    Author     : araza
*/

.navbar {
    /* background-color: black; */
    height: 10vh;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    color: #191922;
}

.navbar a, .navbar a:visited {
    text-decoration: none;
    color: inherit;
} 

.navbar #home {
    margin-left: 2vw;
    margin-right: auto;
}

.navbar #profile {
    margin-left: auto;
    margin-right: 2vw;
}

h1 {
    margin: 2vw;
}

.title {
    width: 100%;
    font-size: 5em;
    text-align: center;
    border: 0;
}

.title:focus {
    outline: none;
}

.espan {
    margin-top: 1em;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 50vh;
}

.espan button {
    background-color: #c8c3a6;
    color: #191922;
    width: 8vw;
    border: 0;
    border-radius: 2rem;
    margin: 1vh;
    padding: 1vh;
}

.essay {
    padding: 1vw;
    resize: none;
    width: 95%;
    height: 80%;
    white-space: pre-wrap;
    /* background-color: green; */
}

.sub {
    margin-top: 2em;
}
