/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 17, 2023, 5:44:00 AM
    Author     : araza
*/

.navbar {
    /* background-color: black; */
    height: 10vh;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    color: #191922;
}

.navbar a, .navbar a:visited {
    text-decoration: none;
    color: inherit;
} 

.navbar #home {
    margin-left: 2vw;
    margin-right: auto;
}

.navbar #profile {
    margin-left: auto;
    margin-right: 2vw;
}

.title {
    text-align: center;
    font-size: 3em;
    margin: auto;
}

.tabs {
    display: flex;
}

.tabs form {
    margin: auto;
}

.postbox {
    border: 5px solid black;
    border-radius: 20px;
    margin: 1rem;
    padding: 0.5rem 1rem;
}

.postbox a {
    color: #d8616b;
}

.postbox a:visited {
    color: #d8616b;
}

.postbox h2 {
    margin: 1em 0 0 0;
}

.guest {
    text-align: center;
    font-size: 4rem;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login button {
    background-color: #c8c3a6;
    color: #191922;
    width: 8vw;
    border: 0;
    border-radius: 2rem;
    margin: 1vh;
    padding: 1vh;
}
