<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>jdbcClassName</param-name>
        <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPass</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcDriverUrl</param-name>
        <param-value>jdbc:mysql</param-value>
    </context-param>
    <context-param>
        <param-name>dbHost</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>dbPort</param-name>
        <param-value>3306</param-value>
    </context-param>
    <context-param>
        <param-name>dbName</param-name>
        <param-value>iblog?useSSL=false</param-value>
    </context-param>
    <servlet>
        <servlet-name>Landing</servlet-name>
        <servlet-class>controller.Landing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Publish</servlet-name>
        <servlet-class>controller.Publish</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>View</servlet-name>
        <servlet-class>controller.View</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>controller.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Critique</servlet-name>
        <servlet-class>controller.Critique</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>controller.Edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>controller.DeletePost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Up</servlet-name>
        <servlet-class>controller.Up</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteComment</servlet-name>
        <servlet-class>controller.DeleteComment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Landing</servlet-name>
        <url-pattern>/Landing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Publish</servlet-name>
        <url-pattern>/Publish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View</servlet-name>
        <url-pattern>/View</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Critique</servlet-name>
        <url-pattern>/Critique</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/Edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/DeletePost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Up</servlet-name>
        <url-pattern>/Up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteComment</servlet-name>
        <url-pattern>/DeleteComment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>landing-page.jsp</welcome-file>
    </welcome-file-list>
</web-app>
